<div class="mt-4 px-5">
    <form method="POST" action="">
    <div class="mb-3">
        <label for="search-input" class="form-label">Từ khóa</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa">
    </div>
    <div class="mb-3">
        <label for="gender-input" class="form-label">Từ khóa</label>
        <select type="text" name="gender" class="form-control" id="gender-input" placeholder="Nhập từ khóa">
            <option value="">-- Chọn giới tính</option>
            <option value="Male">Nam</option>
            <option value="Female">Nữ</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary">TÌm kiếm</button>
    </form>
</div>